body{
    background-color: #f4f4f4;
    color: 250;
    margin: 0;
}

header{
    background-color: seagreen;
}

a {
    text-decoration: none;
    color: #fff;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.chart-title{
    text-align: center;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

.btn-nav{
    padding: 10px;
    border: 2px #ccc solid;
    font-size: 18px;
    align-content: center;
}

.btn-current-page{
    padding: 10px;
    border: 2px #808080 solid;
    color: #808080;
    font-size: 18px;
    align-content: center;
}

.chart-bar .ct-bar{
    stroke-width: 25px
}

.ct-chart{    
    margin: 0 20%;
}